* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 1000;
}
.cont {
  max-width: 1100px;
  margin: 0 auto;
}

.back {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  padding: 32px 0;
  background-color: #1f2b3d;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  color: #7cd6ec;
  font-weight: 800;
  text-transform: uppercase;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 3vw; /* Alinea los contenidos de cada <li> (imagen y enlace) en el centro vertical */
}

.navbar ul li img {
  display: block;
}

.menu .navbar ul li a {
  font-size: 18px;
  padding: 15px;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 5px;
  color: #ffffff;
  display: block;
  text-align: center;
}

.menu .navbar ul li {
  list-style: none;
  position: relative;
  float: left;
  border-radius: 5px;
  margin-right: 5px;
  margin-top: 5px;
  cursor: pointer;
}
.menu-item {
  display: flex;
  align-items: center; /* Alinea verticalmente la imagen y el enlace */
}
.menu .navbar ul li:hover {
  background-color: #17202c;
}

#menu {
  display: none;
}

.menu-icono {
  width: 25px;
}

.menu label {
  cursor: pointer;
  display: none;
}

@media (max-width: 991px) {
  .menu {
    padding: 30px;
  }

  .menu label {
    display: block;
  }

  .back {
    padding: 47px 0;
  }

  .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #2a394f;
    display: none;
  }

  .menu .navbar ul li {
    width: 100%;
  }

  #menu:checked ~ .navbar {
    display: initial;
  }
}
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #120212;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  animation: fadeOut 0.5s forwards;
  animation-delay: 2s;
}

/* Animación del loader */
.loader {
  border: 4px solid #064555;
  border-top: 4px solid #7cd6ec;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.8s linear infinite;
}

/* Animación para el giro */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Animación para desaparecer el loader */
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/*Animación para el contenido*/
@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
  }
}

.banner {
    position: relative;
    width: 100%;
    height: 60vh;
    background-image: url('/image/banner.jpg');
    
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}


.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


.banner-content {
    position: relative;
    z-index: 1;
    max-width: 600px;
    padding: 20px;
}


.banner h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    animation: fadeIn 2s ease-in-out;
}


.banner p {
    font-size: 1.2em;
    margin-bottom: 20px;
}


.banner-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6347;
    color: white;
    font-size: 1em;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}


.banner-button:hover {
    background-color: #e5533d;
}

main {
  min-height: 100vh;
  overflow: hidden;
}

/* Contenido visible después de la carga */
.contenido {
  opacity: 0;
  animation: fadeIn 0.8s ease-in forwards;
  animation-delay: 1.7s;
}

/*carrusel*/
.carrusel {
  position: relative;
  margin: 74px auto;
  display: flex;
  width: 600px;
  height: 430px;
  margin-bottom: 10px;
}

section img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.5s ease;
}
section img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

/*categorias grid*/
.categoriaS{
    margin-top: 10vh;
    text-align: center;
}


.categorias {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    padding: 20px;
    box-sizing: border-box;
}


.categories {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    max-width: 1200px;
}


.category {
    position: relative;
    overflow: hidden;
    text-align: center;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.category img {
    width: 100%;
    height: 100%;
    display: block;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.category p {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    color: white;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}


.category:hover {
    transform: scale(1.05);
}

.category:hover img {
    transform: scale(1.1);
    opacity: 0.7;
}

.category:hover p {
    opacity: 1;
}